<!doctype html>
<html lang="en" ng-app="my-app">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="lib/onsen/css/onsenui.css"/>
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css"/>
    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script>
      var myApp = angular.module('myApp',[]);
      var module = ons.bootstrap('my-app', ['onsen']);
      //module.controller('AppController', function($scope) { });
      //module.controller('PageController', function($scope) {
      //  ons.ready(function() {
          // Init code here
      //  });
    //  });
      module.controller('MorningCtrl', function($scope){
        $scope.greeting = "Good Morning!";
      });

module.controller('MainController', function($scope) {
  $scope.newTitle = "good";
  $scope.addTodo = function () {
  $scope.todos.push({
    title: Math.random(),
    done: false
  });
};



});

    </script>
  </head>
  <body ng-app="App">
    <ons-navigator var="navigator" ng-controller="MainController">
      <ons-page>
        <!-- Page content -->

        <ons-tabbar>
          <ons-tab page="home.html" active="true">
            <ons-icon icon="ion-home"></ons-icon>
            <span style="font-size: 14px">Home</span>
          </ons-tab>

        </ons-tabbar>

        <ons-template id="home.html"  >
          <form ng-submit="addTodo()">
        <input class="text-input" id="my-input" ng-model="newTitle">
        <ons-button type="submit">追加</button>

          </ons-button>


      <br><br>

        <br><br>
        {{newTitle}}

        <ons-list>
          <ons-list-header>Member List</ons-list-header>

        <ons-list-item  ng-repeat="todo in todos">
        <label class="checkbox">
          <input type="checkbox" ng-model="todo.done">
          <div class="checkbox__checkmark"></div>
          <span class="ons-checkbox-inner"></span>
        </label>
        test{{ todo.title }}
      </ons-list-item>

      <ons-list-item>
      <label class="checkbox">
      <input type="checkbox">
      <div class="checkbox__checkmark"></div>
      <span class="ons-checkbox-inner"></span>
      </label>
      山本　浩二
      </ons-list-item>

    </ons-list>

      <ons-button modifier="cta">キープに追加</ons-button>
      <ons-button modifier="outline">削除</ons-button>

        </form>

        </ons-template>


      </ons-page>
    </ons-navigator>
  </body>
</html>
